<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1642666022.591152</real>
	<key>UUID</key>
	<string>4F15B6DD-9F26-4241-9979-2046EA3C84BA</string>
</dict>
</plist>
